:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 20px;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f8f8f8;
}

h1 {
  font-size: 2em;
  line-height: 1;
  color: rgb(17, 47, 86);
}
h2 {
  color: rgb(17, 47, 86);
}
p {
  font-size: 16px;
  color: #a7a7a7;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  border: solid rgb(17, 47, 86) 1px;
  cursor: pointer;
  transition: border-color 0.25s;
  outline: none;
}
button:hover {
  background-color: rgb(220, 235, 255);
}

.weekdays,
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
}

.day-cell {
  border: 1px solid #ccc;
  padding-inline: 16px;
  padding-block: 8px;
  min-height: 20px;
  cursor: pointer;
  user-select: none;
  border-radius: 7px;
}

.faded-cell {
  border: 1px solid #4a4a4a;
  padding-inline: 16px;
  padding-block: 8px;
  min-height: 20px;
  border-radius: 7px;
  cursor: pointer;
  user-select: none;
  color: #a7a7a7;
}

.text-color {
  color: rgb(17, 47, 86);
}

.flex-btw {
  display: flex;
  gap: 10px;
}

.flex-40 {
  display: flex;
  gap: 30px;

  height: calc(100vh - 10px);
  overflow: hidden;
}

.flex-end {
  display: flex;
  gap: 20px;
  justify-self: end;
}

.flex-1 {
  flex-basis: 1;
  flex-grow: 1;
}

.flex-center {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.card {
  border: 1px #1a1a1a solid;
  background: rgb(17, 47, 86);
  border-radius: 7px;
  padding-inline: 20px;
  padding-block: 10px;
  margin-bottom: 5px;
  width: 85%;
}

.opa-50 {
  opacity: 70%;
}

.card2 {
  border: 1px #1a1a1a solid;
  background: rgb(220, 235, 255);
  border-radius: 7px;
  padding-inline: 20px;
  padding-block: 10px;
  width: 100%;
}

.mb {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: rgb(17, 47, 86) 1px solid;
  
}

.side-panel-scroll {
  height: 100%;
  overflow-y: scroll;
  width: 30%;
  border-left: rgb(17, 47, 86) 1px solid;
  padding-left: 10px;
}
